<h1>Hello <%= @post.title + ' ' + @post.body %></h1>
<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning' %>
<hr>
<%= button_to "delete", { :controller => :posts, :action => 'destroy', :id => @post.id }, :method => :delete, :class => 'btn btn-danger' %>
